# --- Autorisations de Build (Obligatoires pour ton projet) ---
pnpm.allowBuilds[]=@nestjs/core
pnpm.allowBuilds[]=copy-proxy
pnpm.allowBuilds[]=@prisma/client
pnpm.allowBuilds[]=@prisma/engines
pnpm.allowBuilds[]=esbuild
pnpm.allowBuilds[]=prisma

# --- Limitation CPU (Pour éviter le freeze et le reboot sur ton Latitude) ---
child-concurrency=2
network-concurrency=2